<div id='Boximgclass' class='ps-relative fl-left'>
    <div id='imgclasse' class='transition-easy fl-left ps-relative'>
        <div id='imgclass' class='transition-easy fl-left ps-relative'>
            <img src='#cover#' id='imgdp' class='transition-easy imgtochangeCover' style='width: #width#px;'
                 width='#width#'/>
        </div>
    </div>

    <div id='edtImgBox' class='fl-left pd-small ps-absolute top left'>

        <input type='number' step='10' placeholder='largura' value='#width#' class='font-size09' id='cover-width'/>
        <br>

        <div class='fl-left pd-small'>
            <button onclick="vertImage('#post_id#', '#banco#');"
                    class='fl-left btn btn-staticwhite transition-fast border-greenhover pd-small'
                    title='inverter imagem na vertical'>
                <i style='padding-left:14px' class='shoticon shoticon-button shoticon-arrowVertical font-size07'></i>
            </button>
            <button onclick="HoriImage('#post_id#', '#banco#');"
                    class='fl-left btn btn-staticwhite transition-fast border-greenhover pd-small'
                    title='inverter imagem na horizontal' style='margin:0 3px;'>
                <i style='padding-left:14px' class='shoticon shoticon-button shoticon-arrowHorizontal font-size07'></i>
            </button>
            <button onclick="TurnImage('#post_id#', '#banco#');"
                    class='fl-left btn btn-staticwhite transition-fast border-greenhover pd-small'
                    title='girar imagem' style='margin:0 3px;'>
                <i style='padding-left:14px' class='shoticon shoticon-button shoticon-arrowTurn font-size07'></i>
            </button>
        </div>
    </div>
</div>