<div class="box box-2 bg-white border ps-relative border-bottom pointer inhover hovershadow transition-easy" id="imageG-#id#">
    <img onclick="#funcao#" src="#HOME#/tim.php?src=#HOME#/uploads/#cover#&w=330&h=180" class="container"/>

    <span onclick="#funcao#" class="container pd-medium al-center" style="height: 38px; line-height: 24px; overflow:hidden">#title#</span>

    <button class="btn btn-staticwhite radius transition-easy inhover border-redhover pd-smallb font-size09 ps-absolute top right"
            title="excluir imagem" onclick="excluirGallery(#id#, '#banco#')">
        x
    </button>
</div>