body {
    width: 100%;
    float: left;
    overflow-x: hidden;
}

blockquote {
    border-left: 4px solid #707070;
    color: #707070;
    font-size: 20px;
    font-style: italic;
    line-height: 1.8182;
    margin: 0 0 35px -21px;
    padding-left: 17px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

strong, b {
    font-weight: bold;
    margin-top: -5px
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    margin-bottom: 15px;
    width: 100%;
    float: left
}

p:last-child {
    margin-bottom: 0;
}

mark {
    padding: 5px 10px;
    background: yellow
}

ul {
    list-style: none;
}

li {
    padding: 3px
}

img {
    float: left;
    border: none;
    width: 100%;
    max-width: 100%;
}

small {
    font-size: 0.7em;
    color: #555;
}

a {
    text-decoration: none;
    color: tomato
}

a img {
    border: 0;
}

label, span {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}