/*SHAREBOX*/
.sharebox {
    float: left;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

.sharebox li {
    display: inline-block;
    width: 31.5%;
    background: #ccc;
    margin: 0 .5%;
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: auto 60%;
}

.sharebox a {
    float: left;
    padding: 10px 20px 10px 40px;
    color: #fff !important;
}

.sharebox .count {
    float: right;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    color: #fff;
}

.sharebox .facebook {
    background-color: #45619D;
}

.sharebox .facebook:hover {
    background-color: #778FC4;
}

.sharebox .google {
    background-color: #DB4437;
}

.sharebox .google:hover {
    background-color: #E06055;
}

.sharebox .twitter {
    background-color: #55ACEE;
}

.sharebox .twitter:hover {
    background-color: #8EC0E5;
}

.sharebox .whatsapp {
    background-color: seagreen;
}

.sharebox .whatsapp:hover {
    background-color: lightseagreen;
}