/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #888888);
    background-image:-moz-radial-gradient(center, #ebebec, #888888);
    background-image:radial-gradient(center, #ebebec, #888888);

    min-height:900px;
}

body{
    font:15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/

.btnimc{
    float:right; background-color: #555; transition: ease-in-out 0.2s; padding:5px 10px; margin:5px; color:#FFF; font-size:1.2em; font-weight: lighter; cursor: pointer; font-family: Lato;
}
.btnimc:hover{
    background:#334;
}

.btnchange{
    float:left; transition: ease-in-out 0.2s; padding:5px 10px; margin:5px; color:#FFF; font-size:1.2em; font-weight: lighter; cursor: pointer;
    font-family: Lato;
}

.btnchange:hover{
    background:#888;
}

.inputchange{float:right; width:300px; padding:4px 10px 3px; border-radius: 3px; border:solid 2px #666; outline: none; font-size:1.2em; margin:4px 0; font-weight: lighter;}

.active{background: #999; margin:12px 5px 0}

#gallerySpace, #option{display:none; margin-top: 70px}

.txtgallery{
    font-size:1.5em;
    padding:0 20px 20px;
    color:#FFF;
}

#uploadBox{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    max-width:450px;
    width:95%;
    padding:40px 2%;
    border-radius:3px;

    margin:130px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 30px 0;
    border: 9px dotted rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#uploadBox ul{
    list-style:none;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#uploadBox ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    height: 52px;

    position: relative;
}

#uploadBox ul li input{
    display: none;
}

#uploadBox ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 100px;
}

#uploadBox ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#uploadBox ul li canvas{
    top: 0;
    left: 32px;
    position: absolute;
}

#uploadBox ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 20px;
    right: 33px;
    cursor:pointer;
}

#uploadBox ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#uploadBox ul li.error p{
    color:red;
}

@media screen and (max-width: 670px){
    .inputchange{width:75%; margin:4px 1%;}
    .btnimc{width:21%; margin:5px 1%;}
}