#workspace {
    padding-left: 51px;
}

.headerSpace {
    background: #FFF;
    z-index: 99;
}

.headerSpace, .contentSpace {
    min-width: 400px;
}

.work {
    width: 60%;
    position: relative;
    float: left;
    -webkit-animation-name: open;
    -webkit-animation-duration: 0.2s;
    animation-name: open;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    overflow-x: hidden;
    overflow-y: auto;
}

.loading {
    float: left;
    width: 100%;
    overflow: hidden;
}

.loading li {
    width:0;
    width: 0;
    height: 0;
    padding: 2px 0;
    background-color: steelblue;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1.6s;
    animation-name: loading;
    animation-duration: 1.6s;
    transition-timing-function: ease-in;
    animation-iteration-count: 1;
    list-style: none;
}

.loading .one {
    animation-delay: 0.6s;
}

.loading .two {
    animation-delay: 0.3s;
}

.loading .three {
    animation-delay: 0.1s;
}

.miniSpace {
    width: 5%;
    opacity: 0.75;
}

.buttonClose {
    padding: 9px 30px 8px;
    margin:3px 0 0 3px;
    box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.1);
}

.buttonClose:hover {
    color: #FFF;
    background-color: tomato
}

@-webkit-keyframes loading {
    0% {
        left: 0;
        width: 0;
        background: steelblue;
    }
    20% {
        width: 120px;
    }
    100% {
        left: 100%;
        width: 0;
        background: deepskyblue;
    }
}

@keyframes loading {
    0% {
        left: 0;
        width: 0;
        background: steelblue;
    }
    20% {
        width: 120px;
    }
    100% {
        left: 100%;
        width: 0;
        background: deepskyblue;
    }
}

@keyframes open {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    #workspace {
        padding-left: 42px;
        width: 110%;
    }
}