.closeButton {
    color: #FFF;
    padding: 0px 10px;
    font-family: cursive;
    border: none;
    background: transparent;
    padding-bottom: 5px;
}

.LightBoxTitle {
    top: -42px;
}

.closeButton:hover {
    color: #ffd019;
}

.asLightBox {
    width: 0;
    height: 0;
    opacity: 0;
}

.lightboxOpen {
    z-index: 102;
    height: 91%;
    top: 7% !important;
    left: 15% !important;
    width: 70% !important;
    -webkit-box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s !important;
    transition-timing-function: ease-out;
    opacity: 1;
}

.ofuscar, .offoscar {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 101;
}

#main-infor {
    overflow: hidden;
    position: fixed;
    padding: 15px 30px;
    border: solid 1px #EEE;
    font-size: 1.3em;
    bottom: -100px;
    left: 2%;
    width: auto;
    height: 0;
    opacity: 0;
    z-index: 910000;
    border-radius: 4px;
    background-color: #FFF;
    color: #444;
    -webkit-box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.6s !important;
    transition-timing-function: ease-in-out;
}

.main-infor-open {
    bottom: 3% !important;
    height: auto !important;
    opacity: 1 !important;
}


@media screen and (max-width: 600px) {

    .lightboxOpen {
        width: 100% !important;
        left: 0 !important;
    }

    .closeButton {
        right: 0;
    }
}