.color-primary {
    color: #00b3b3 !important;
}

.color-primaryhover:hover, .color-primaryhover:hover a {
    color: #00b3b3 !important;
}

.btn-primary {
    background-color: #00b3b3 !important;
    color: #FFF !important;
    border-color: #00b3b3 !important;
}

.btn-primary:hover {
    background-color: #14c7c7 !important;
    border-color: #14c7c7 !important;
}

.bg-primary {
    background-color: #00b3b3 !important;
    color: #FFF !important;
}

.border-primary {
    border-color: #00b3b3 !important;
}

.border-primaryhover:hover {
    border-color: #00b3b3 !important;
}

.color-secondary {
    color: #bc4f2f !important;
}

.color-secondaryhover:hover, .color-secondaryhover:hover a {
    color: #bc4f2f !important;
}

.btn-secondary {
    background-color: #bc4f2f !important;
    color: #FFF !important;
    border-color: #bc4f2f !important;
}

.btn-secondary:hover {
    background-color: #d06343 !important;
    border-color: #d06343 !important;
}

.bg-secondary {
    background-color: #bc4f2f !important;
    color: #FFF !important;
}

.border-secondary {
    border-color: #bc4f2f !important;
}

.border-secondaryhover:hover {
    border-color: #bc4f2f !important;
}

.color-terceary {
    color: #1f344c !important;
}

.color-tercearyhover:hover, .color-tercearyhover:hover a {
    color: #1f344c !important;
}

.btn-terceary {
    background-color: #1f344c !important;
    color: #FFF !important;
    border-color: #1f344c !important;
}

.btn-terceary:hover {
    background-color: #334860 !important;
    border-color: #334860 !important;
}

.bg-terceary {
    background-color: #1f344c !important;
    color: #FFF !important;
}

.border-terceary {
    border-color: #1f344c !important;
}

.border-tercearyhover:hover {
    border-color: #1f344c !important;
}