
/*FONT WEIGHT*/
.font-thin {
    font-weight: 200 !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-bold {
    font-weight: 700 !important;
}

.upper {
    text-transform: uppercase
}

/*FONT SIZE*/
.font-zero {
    font-size: 0em !important;
}

.font-size05 {
    font-size: 0.5em !important;
}

.font-size07 {
    font-size: 0.7em !important;
}

.font-size08 {
    font-size: 0.8em !important;
}

.font-size09 {
    font-size: 0.9em !important;
}

.font-size10 {
    font-size: 1em !important;
}

.font-size12 {
    font-size: 1.2em !important;
}

.font-size13 {
    font-size: 1.3em !important;
}

.font-size14 {
    font-size: 1.4em !important;
}

.font-size15 {
    font-size: 1.5em !important;
}

.font-size17 {
    font-size: 1.7em !important;
}

.font-size20 {
    font-size: 2em !important;
}

.font-size25 {
    font-size: 2.5em !important;
}

.font-size30 {
    font-size: 3em !important;
}

.font-size35 {
    font-size: 3.5em !important;
}

/*text align*/
.al-left {
    text-align: left;
}

.al-right {
    text-align: right;
}

.al-center {
    text-align: center;
}