/*RESET*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;

    font-family: 'Lato', sans-serif;

    line-height: 1.2;
    letter-spacing: 0em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*float*/
.fl-left {
    float: left !important;
}

.fl-right {
    float: right !important;
}

.fl-none {
    float: none !important;
}

/*CONTAINER*/
.container {
    float: left;
    width: 100%;
}

.content10 {
    width: 100%;
    margin: 0;
    padding: 40px 0;
}

.content95 {
    width: 94%;
    margin: 0 1% 0 65px;
}

.content9 {
    width: 90%;
    margin: 0 5%;
    padding: 40px 0;
}

.content8 {
    width: 80%;
    margin: 0 10%;
    padding: 40px 0;
}

.content7 {
    width: 70%;
    margin: 0 15%;
    padding: 40px 0;
}

.content-half {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    float: initial !important
}

/*BOX*/
.box {
    width: auto;
    float: left;
    overflow: hidden
}

.box-0 {
    display: none;
}

.box-1 {
    width: 100%;
}

.box-2 {
    width: 48%;
    margin: 10px 1%;
}

.box-3 {
    width: 29.3%;
    margin: 10px 2%;
}

.box-3b {
    width: 62.7%;
    margin: 10px 2%;
}

.box-4 {
    width: 22%;
    margin: 10px 1.5%;
}

.box-4b {
    width: 72%;
    margin: 10px 1.5%;
}

.box-5 {
    width: 18%;
    margin: 10px 1%;
}

.box-5b {
    width: 78%;
    margin: 10px 1%;
}

.box-5e2 {
    width: 37%;
    margin: 10px .05% 10px 2.5%;
}

.box-5e3 {
    width: 58%;
    margin: 10px 1%;
}

.box-6 {
    width: 15.16%;
    margin: 0 0.75%;
}

.box-6b {
    width: 81.84%;
    margin: 0 0.75%;
}

/* PADDING */
.pd-0 {
    padding: 0 !important;
}

.pd-left-60 {
    padding-left: 60px!important;
}

.pd-left-30 {
    padding-left: 30px!important;
}

.pd-left-20 {
    padding-left: 20px!important;
}

.pd-left-5 {
    padding-left: 10px !important;
}

.pd-bottom-60 {
    padding-bottom: 60px !important;
}

.pd-bottom-30 {
    padding-bottom: 30px !important;
}

.pd-bottom-10 {
    padding-bottom: 10px !important;
}

.pd-bottom-5 {
    padding-bottom: 5px !important;
}

.pd-small {
    padding: 5px !important;
}

.pd-smallb {
    padding: 5px 10px !important;
}

.pd-medium {
    padding: 10px !important;
}

.pd-mediumb {
    padding: 10px 20px !important;
}

.pd-big {
    padding: 15px !important;
}

.pd-bigb {
    padding: 15px 30px !important;
}

.pd-vertical-20 {
    padding: 20px 0 !important;
}

.pd-vertical-30 {
    padding: 30px 0 !important;
}

.pd-vertical-60 {
    padding: 60px 0 !important;
}

/*BORDERS*/
.noborder {
    outline: 0 !important;
}

.border {
    outline: solid 1px #DDD !important;
}

.border-small {
    outline: solid 3px #DDD !important;
}

.border-vertical {
    outline-right: solid 3px #DDD !important;
    outline-left: solid 3px #DDD !important;
}

.border-medium {
    outline: solid 6px #DDD !important;
}

.border-big {
    outline: solid 10px #DDD !important;
}

.border-bottom {
    outline-bottom: solid 4px #DDD;
}

@media screen and (max-width: 1300px) {
    .content95 {
        width: 92%;
    }

    .s13box-1 {
        width: 100%;
        margin: 0;
    }

    .s13box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s13box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s13box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s13box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s13box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s13box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s13box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s13box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s13box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s13box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s13box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s13box-0 {
        display: none;
    }

    .s13box-s {
        display: inline;
    }
}

@media screen and (max-width: 1100px) {
    .s11box-1 {
        width: 100%;
        margin: 0;
    }

    .s11box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s11box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s11box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s11box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s11box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s11box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s11box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s11box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s11box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s11box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s11box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s11box-0 {
        display: none;
    }

    .s11box-s {
        display: inline;
    }
}

@media screen and (max-width: 900px) {
    .s9box-1 {
        width: 100%;
        margin: 0;
    }

    .s9box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s9box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s9box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s9box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s9box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s9box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s9box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s9box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s9box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s9box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s9box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s9box-0 {
        display: none;
    }

    .s9box-s {
        display: inline;
    }

    .content8 {
        width: 90%;
        margin: 0 5%;
        padding: 30px 0;
    }
}

@media screen and (max-width: 800px) {
    .s8box-1 {
        width: 100%;
        margin: 0;
    }

    .s8box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s8box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s8box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s8box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s8box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s8box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s8box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s8box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s8box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s8box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s8box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s8box-0 {
        display: none;
    }

    .s8box-s {
        display: inline;
    }

    .content95 {
        width: 90%;
    }

    .content7 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

}

@media screen and (max-width: 700px) {
    .s7box-1 {
        width: 100%;
        margin: 0;
    }

    .s7box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s7box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s7box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s7box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s7box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s7box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s7box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s7box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s7box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s7box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s7box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s7box-0 {
        display: none;
    }

    .s7box-s {
        display: inline;
    }

    iframe{
        height:350px!important;
    }
}

@media screen and (max-width: 600px) {

    .pd-bigb {
        padding: 5px 10px !important;
    }

    .s6box-1 {
        width: 100%;
        margin: 0;
    }

    .s6box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s6box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s6box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s6box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s6box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s6box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s6box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s6box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s6box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s6box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s6box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s6box-0 {
        display: none;
    }

    .s6box-s {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    .s5box-1 {
        width: 100%;
        margin: 0;
    }

    .s5box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s5box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s5box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s5box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s5box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s5box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s5box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s5box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s5box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s5box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s5box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s5box-0 {
        display: none;
    }

    .s5box-s {
        display: inline;
    }

    .content8, .content9 {
        width: 96%;
        margin: 0 2%;
        padding: 20px 0;
    }

    .content95 {
        width: 96%;
        margin: 0 2%;
    }
}

@media screen and (max-width: 400px) {
    .s4box-1 {
        width: 100%;
        margin: 0;
    }

    .s4box-2 {
        width: 48%;
        margin: 10px 1%;
    }

    .s4box-3 {
        width: 29.3%;
        margin: 10px 2%;
    }

    .s4box-3b {
        width: 62.7%;
        margin: 10px 2%;
    }

    .s4box-4 {
        width: 22%;
        margin: 10px 1.5%;
    }

    .s4box-4b {
        width: 72%;
        margin: 10px 1.5%;
    }

    .s4box-5 {
        width: 18%;
        margin: 10px 1%;
    }

    .s4box-5b {
        width: 78%;
        margin: 10px 1%;
    }

    .s4box-5e2 {
        width: 38%;
        margin: 10px 1%;
    }

    .s4box-5e3 {
        width: 58%;
        margin: 10px 1%;
    }

    .s4box-6 {
        width: 15.16%;
        margin: 0 0.75%;
    }

    .s4box-6b {
        width: 81.84%;
        margin: 0 0.75%;
    }

    .s4box-0 {
        display: none;
    }

    .s4box-s {
        display: inline;
    }

    iframe{
        height:200px!important;
    }
}