<section class="work font-size09 container transition-fast boxshadow-heavy bg-white ps-relative"
         style="height: #height#px" id="#id#">
    <header class='container headerSpace'>

        <ul class="loading">
            <li class="fl-left one"></li>
            <li class="fl-left two"></li>
            <li class="fl-left three"></li>
        </ul>

        <h1 class='al-right font-size12 font-bold color-blackgray fl-right mg-medium'>#title#</h1>
        <div class='fl-left ps-fixed bg-white z-plus'>
                <span class='smart buttonClose fl-left transition-fast font-size12 default' title='fechar'
                      onclick="closeWindow('#id#');">x</span>
        </div>
        <div class='container pd-small'></div>
    </header>

    <div class='container pd-small'></div>

    <div class='container ps-relative bg-white pd-bigb contentSpace' id='content_#id#'></div>
    <div class="container pd-content20"></div>
</section>

