/*BACKGROUND*/
.bg-black {
    background-color: #222;
    color: #DDD;
}

.bg-white {
    background-color: #fff;
    color: #555;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, 0.25);
    color: #EEE;
}

.bg-shadow:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.bg-light {
    background-color: #E0E6E6;
    color: #444;
}

.bg-gray {
    background-color: #444;
    color: #fff;
}

/*TRANSIÇÕES*/
.transition-easy {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.transition-slow {
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.transition-fast {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/*SHADOW*/
.hovershadow:hover {
    -webkit-box-shadow: -2px 5px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 5px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 5px 6px 1px rgba(0, 0, 0, 0.2);
}

.hovershadow-heavy:hover {
    -webkit-box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.25);
}

.textshadow {
    text-shadow: 1px 1px 4px #666;
}

.hovertextshadow:hover {
    text-shadow: 1px 1px 4px #999;
}

.boxshadow {
    -webkit-box-shadow: 1px 4px 9px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 9px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 9px -2px rgba(0, 0, 0, 0.15);
}

.boxshadow-heavy {
    -webkit-box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.insetshadow {
    -webkit-box-shadow: inset 1px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 0px 15px 8px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 0px 15px 8px rgba(0, 0, 0, 0.15);
}

.insetshadow-down {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.shadow-bottom {
    z-index:20;
    margin-bottom: 24px;
    padding-bottom: 24px;
    background: url(boot/icons/video_shadow.png) bottom center no-repeat
}

/*INDEX*/
.z-plus {
    z-index: 2
}
.z-plus-plus {
    z-index: 3
}

.z-minus {
    z-index: 0
}

.z-minus-minus {
    z-index: -1
}


/*display*/
.ds-invisible {
    visibility: hidden;
}

.ds-block {
    display: block;
}

.ds-inblock {
    display: inline-block;
}

.ds-inline {
    display: inline !important;
}

.ds-none {
    display: none !important;
}

/*OVERFLOW*/
.ov-visible {
    overflow: visible !important
}

.ov-hidden {
    overflow: hidden !important
}


/*POSITION*/
.ps-absolute {
    position: absolute !important
}

.ps-fixed {
    position: fixed !important
}

.ps-relative {
    position: relative !important
}

.ps-initial {
    position: initial !important
}

.top {
    top: 0 !important
}

.bottom {
    bottom: 0 !important
}

.right {
    right: 0 !important
}

.left {
    left: 0 !important
}

/*SHORT ICONS*/
.shorticon {
    padding-left: 25px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto 96%;
}

.shorticon-reverse {
    position: inherit;
    height: 26px;
    width: 19px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*PONTEIRO*/
.pointer {
    cursor: pointer
}

.default {
    cursor: default
}

.mg-auto {
    margin: auto
}

/*HELPERS*/
.clear {
    clear: both
}

.btn-closeedt {
    width: 90px;
    right: 0;
    top: 0;
    padding: 0px 30px 3px !important;
    color: brown !important;
}

.active {
    background: rgba(255, 255, 255, 0.3) !important
}

.marker {
    background: yellow
}

.blur {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.inverse {
    transform: rotateY(150deg);
    -webkit-transform: rotateY(150deg);
}

/*OPACIDADES*/
.marked {
    opacity: 0.2
}

.hover:hover {
    opacity: 0.8
}

.inhover {
    opacity: 0.7
}

.inhover:hover {
    opacity: 1
}

/*RADIUS*/
.radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.radius-big {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.radius-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*CORES*/
.color-white {
    color: #FFF !important;
}

.color-lightgray {
    color: #E5E5E5 !important;
}

.color-gray {
    color: #BBB !important;
}

.color-blackgray {
    color: #999 !important;
}

.color-black {
    color: #444 !important;
}

/*TRIGGER*/
.trigger {
    padding: 10px 20px;
    float: initial;
    margin: 5px auto;
    border-radius: 50px;
    background: lightsteelblue;
    font-size: 17px;
    color: #fff !important;
}

.trigger a {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: #069;
    color: #fff;
}

.trigger a:hover {
    background: #09f;
    color: #fff;
}

.trigger-bottom {
    margin: 30px 0 0 0;
}

/*STARS*/
.starf {
    font-size: x-large;
    width: 26px;
    display: inline-block;
    color: #DDD;
}

.starf:last-child {
    margin-right: 0;
}

.starf:before {
    content: '\2605';
}

.starf.on {
    color: #777;
}

.starf.half:after {
    content: '\2605';
    color: #777;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}

.showstar {
    width: 180px;
}

/*VIDEO*/
.video {
    width: 100%;
    margin: 0;
}

.video-small {
    width: 40%;
    margin: 0 30%;
}

.video-medium {
    width: 60%;
    margin: 0 20%;
}

.video-large {
    width: 80%;
    margin: 0 10%;
}