.weekSelected {
    background: #CCC !important;
}

.inputSelect {
    margin-top: -25px;
    padding-bottom: 5px;
    font-size: 12px;
    color: cornflowerblue;
    background: transparent
}

/*BOTÕES*/
.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
}

button {
    border-radius: 3px 3px 3px 3px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    text-transform: uppercase;
    text-shadow: none;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
    padding: 11px 30px;
    transition: all 0.3s;
}

button:hover {
    border-radius: 4px 4px 4px 4px;
    border-style: outset;
    text-shadow: none;
    box-shadow: 0px 6px 11px rgba(62, 62, 62, 0.4);
}

iframe{
    width:100%!important;
    float:left!important;
    height:500px!important;
}

/*INPUTS*/
input, textArea {
    border: none;
    resize: none;
    border-bottom: solid 1px #BBB;
    width: 100%;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 300;
    color: #666;
}

input:focus, textArea:focus {
    border-bottom: solid 1px cornflowerblue;
}

input[type="color"] {
    width: 29px;
    height: 29px;
    border: none;
    padding: 9px
}

label {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0 10px;
}

label span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 6px 5px 6px 5px;
    background: #FFF;
    cursor: text;
    overflow: hidden;
}

input[type=checkbox] {
    position: relative;
    top: 0;
    margin: 0 1em 0 0;
    cursor: pointer;
    left: 0;
    width: 19px;
}

input[type=checkbox]:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #DDD;
}

input[type=checkbox]:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}

input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #FFFFFF;
    cursor: pointer;
}
.cke_editable {
    background: #FFF;
    padding: 3%;
    height: auto !important;
}